.vk-login {
  overflow: hidden;
  background-color: var(--el-color-primary-light-5);
  background-image: radial-gradient(closest-side, rgb(255, 255, 255), rgba(235, 105, 78, 0)),
    radial-gradient(closest-side, rgb(196, 85, 181), rgba(243, 11, 164, 0)),
    radial-gradient(closest-side, rgb(237, 252, 202), rgba(254, 234, 131, 0)),
    radial-gradient(closest-side, rgb(197, 248, 241), rgba(170, 142, 245, 0)),
    radial-gradient(closest-side, rgb(86, 76, 150), rgba(248, 192, 147, 0));
  background-size:
    130vmax 130vmax,
    80vmax 80vmax,
    90vmax 90vmax,
    110vmax 110vmax,
    90vmax 90vmax;
  background-position:
    -80vmax -80vmax,
    60vmax -30vmax,
    10vmax 10vmax,
    -30vmax -10vmax,
    50vmax 50vmax;
  background-repeat: no-repeat;
  animation: 6s loginbg_move linear infinite;
  position: relative;
}

.vk-login-card {
  width: 960px;
  height: 600px;
  border-radius: 8px 40px 8px 40px;
  box-shadow: var(--el-box-shadow);
  > div {
    float: left;
    height: 100%;
    padding: 20px 15px;
  }
  $desc_w: 58;
  .vk-login-desc {
    width: $desc_w * 1%;
    background: var(--el-bg-color);
    border-radius: 8px 0 0 40px;
    flex-direction: column;
    justify-content: center;
    &__title {
      width: 100%;
      color: var(--el-color-primary);
      line-height: 50px;
    }
    &__content {
      flex: 1;
      width: 100%;
      padding: 25px;
      .svg-icon {
        width: 100%;
        height: 100%;
      }
    }
  }
  .vk-login-box {
    width: (100 - $desc_w) * 1%;
    background-color: var(--el-color-primary);
    border-radius: 0 40px 8px 0;
    padding: 20px;
    &__title {
      color: var(--el-color-white);
      text-align: center;
      line-height: 60px;
      font-size: 26px;
      font-weight: 600;
      margin: 30px 0 40px;
      letter-spacing: 2px;
    }
  }
}

.vk-login-form {
  &.el-form {
    .el-form-item__label {
      color: #fff;
    }
    .el-form-item {
      margin-bottom: 60px;
    }
    .el-input__wrapper {
      border-radius: 20px;
      box-shadow: 0 0 10px 2px transparent;
      &.is-focus {
        box-shadow: 0 0 10px 2px var(--el-color-primary-light-4);
      }
    }
    .el-input__inner {
      outline: none;
      border: none;
      border-radius: 20px;
    }
    .el-form-item__error {
      margin-top: 4px;
    }
  }
  .vk-login-btn_item {
    display: flex;
    align-items: center;
    .vk-login-btn {
      flex: 1;
      background-color: var(--el-color-primary-light-3);
      border-color: var(--el-color-primary-light-2);
      color: #fff;
      font-weight: 600;
      &:hover {
        box-shadow: var(--el-box-shadow);
      }
    }
    .vk-login-qs {
      padding-left: 40px;
      text-align: right;
      color: #fff;
      font-size: #fff;
      cursor: pointer;
      span {
        position: relative;
        overflow: hidden;
        background: linear-gradient(
            to right,
            var(--el-color-primary-light-1),
            var(--el-color-primary-light-9)
          )
          no-repeat right bottom;
        background-size: 0 2px;
        transition: background-size 0.3s;
        &:hover {
          background-position: left bottom;
          background-size: 100% 2px;
        }
      }
    }
  }
}

@keyframes loginbg_move {
  0%,
  100% {
    background-size:
      130vmax 130vmax,
      80vmax 80vmax,
      90vmax 90vmax,
      110vmax 110vmax,
      90vmax 90vmax;
    background-position:
      -80vmax -80vmax,
      60vmax -30vmax,
      10vmax 10vmax,
      -30vmax -10vmax,
      50vmax 50vmax;
  }
  25% {
    background-size:
      100vmax 100vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      60vmax 60vmax;
    background-position:
      -60vmax -90vmax,
      50vmax -40vmax,
      0vmax -20vmax,
      -40vmax -20vmax,
      40vmax 60vmax;
  }
  50% {
    background-size:
      80vmax 80vmax,
      110vmax 110vmax,
      80vmax 80vmax,
      60vmax 60vmax,
      80vmax 80vmax;
    background-position:
      -50vmax -70vmax,
      40vmax -30vmax,
      10vmax 0vmax,
      20vmax 10vmax,
      30vmax 70vmax;
  }
  75% {
    background-size:
      90vmax 90vmax,
      90vmax 90vmax,
      100vmax 100vmax,
      90vmax 90vmax,
      70vmax 70vmax;
    background-position:
      -50vmax -40vmax,
      50vmax -30vmax,
      20vmax 0vmax,
      -10vmax 10vmax,
      40vmax 60vmax;
  }
}
