/* header的高度 */
$layout-header-h: 65;

/* 默认侧边栏宽度 */
$menus-default-w: 201;

/* 折叠侧边栏宽度 */
$menus-default-w_collapse: 65;

/* 二级主题主侧边栏宽度 */
$menus-main-w: 81;

/* 二级主题子侧边栏宽度 */
$menus-sub-w: 181;

/* 二级主题子侧边栏 */
$menus-sub-w_collapse: 65;

.layout-transition {
  transform-origin: center center;
  transition: all 0.3s var(--el-transition-function-ease-in-out-bezier);
}

.vk-layout {
  overflow: hidden;
}

.vk-layout-header {
  height: #{$layout-header-h}px;
  background-color: var(--el-bg-color);
  border-bottom: var(--el-border);
  padding: 0 15px;
  .vk-app-title {
    color: var(--el-color-primary);
  }
  .vk-layout-menus__header {
    flex: 1;
    padding: 0 15px;
  }
  & &__icons {
    width: 40px;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 50%;
    line-height: 40px;
    margin-left: 5px;
    &:hover {
      background-color: var(--el-color-info-light-7);
    }
    .i-icon {
      color: var(--el-text-color-regular);
      font-size: 20px;
      height: 40px;
    }
  }
}

.vk-layout-main {
  height: calc(100% - #{$layout-header-h}px);
  position: relative;
}

.vk-layout-menus {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--el-menu-bg-color);
  border-right: var(--el-border);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  @extend .layout-transition;
  .vk-layout-menus__box {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .vk-collapse-icon {
    position: absolute;
    top: 35%;
    right: 0px;
    width: 30px;
    height: 30px;
    border: var(--el-border);
    border-radius: 50%;
    margin-right: -15px;
    background-color: var(--el-bg-color);
    cursor: pointer;
    @extend .layout-transition;
    &.expand {
      transform: rotate(0deg);
    }
    &.collapse {
      transform: rotate(-180deg);
    }
  }
  &.default {
    width: #{$menus-default-w}px;
    &.collapse {
      width: #{$menus-default-w_collapse}px;
    }
  }
  &.subaside {
    width: #{$menus-main-w + $menus-sub-w}px;
    .vk-menus-main {
      width: #{$menus-main-w}px;
      height: 100%;
      overflow-x: hidden;
      overflow-y: auto;
      border-right: var(--el-border);
      float: left;
      padding: 10px;
      > li {
        width: 100%;
        height: 60px;
        border-radius: 4px;
        margin-bottom: 10px;
        cursor: pointer;
        padding: 5px 0;
        &.active {
          background-color: var(--el-color-primary-light-9);
        }
        &.active,
        &:hover {
          .el-icon,
          .vk-menus-main_label {
            color: var(--el-color-primary)
          }
        }
        .el-icon {
          width: 100%;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .vk-menus-main_label {
          height: 20px;
          line-height: 20px;
          font-size: 12px;
          text-align: center;
        }
      }
    }
    &.collapse {
      width: #{$menus-main-w + $menus-sub-w_collapse}px;
    }
    // 无子菜单时
    &.no-subaside {
      width: #{$menus-main-w}px;
      &.collapse {
        width: #{$menus-main-w}px;
      }
    }
  }
  .el-menu.vk-menus {
    width: 100%;
    border-right: none;
    border-bottom: none;
  }
  .vk-app-menus {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.vk-menus-popper {
  .el-menu-item {
    &:hover {
      background-color: transparent;
      color: var(--el-color-primary);
    }
    .vk-menu-item {
      width: 100%;
      display: flex;
      align-items: center;
    }
  }
}

.vk-layout-body {
  width: 100%;
  height: 100%;
  @extend .layout-transition;
  overflow: hidden;
  &.visible-tabs {
    .vk-layout-views {
      height: calc(100% - 40px);
    }
  }
  &.default {
    padding-left: #{$menus-default-w}px;
    &.collapse {
      padding-left: #{$menus-default-w_collapse}px;
    }
  }
  &.subaside {
    padding-left: #{$menus-main-w + $menus-sub-w}px;
    &.collapse {
      padding-left: #{$menus-main-w + $menus-sub-w_collapse}px;
    }
  }
  .vk-layout-views {
    padding: 15px 20px;
    height: 100%;
    overflow: hidden;
  }
}

/* tabs */
.vk-layout-tabs {
  width: 100%;
  overflow: hidden;
  background-color: var(--el-bg-color);
  border-bottom: var(--el-border);
  .el-tabs {
    .el-tabs__header {
      box-sizing: border-box;
      height: 40px;
      padding: 0 10px;
      margin: 0;
      border-bottom: none;
      .el-tabs__nav {
        display: flex;
        border: none;
        .el-tabs__item {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          .vk-layout-tab__label {
            font-size: 14px;
            display: inline-flex;
            align-items: center;
            .vk-layout-tab__icon {
              margin-right: 4px;
            }
          }
          .is-icon-close {
            margin-top: 1px;
          }
          &.is-active {
            color: var(--el-color-primary);
            &::before {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 0;
              content: '';
              border-bottom: 2px solid var(--el-color-primary) !important;
            }
            .vk-layout-tab__label {
              color: var(--el-color-primary);
            }
          }
        }
      }
    }
    .el-tabs__content {
      display: none;
    }
  }
}
